
body {
  margin: 0;
  font:16px Arial, Helvetica, sans-serif;
  font-size:13px;
}

.top {
  width:100%;
  background-color: #E5E5E5;
  }
  
.topnav {
  width:100%;
  height:56px;
  overflow: hidden;
  background-color: #E5E5E5;
  margin: 0 auto;
}
#logo {
  margin-right: 50px;
  margin-left: 50px;
}

/* .logodiv {

} */

.topnav a {
  float: left;
  display: block;
  color: grey;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.topnav a:hover {
  
  color: orange;
}


.topnav .icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}


.main #ma {
  width:100%;
  height:auto;

}
#maintext {
  justify-content: space-between;
  text-align: center;
}

.grandpa {
  width:100%;
  display: block;
  
}

.parent {
  width: 80%;
  height: 300px;
  border: 6px solid #c3c3c3;
  display: flex;
  margin-right: auto;
  margin-left: auto;
  padding-top:50px;
  padding-bottom: 50px;
}

.child1 {
   flex-grow: 1;
   vertical-align: middle;
  
}
#second {
  border-radius: 16px;
}

.child2 {
  flex-grow: 1;
  
}



#cen {
  text-align: center;
}

#h2 {
  font-weight: lighter;
  margin-left: 20px;
}

#button {
  
  border-radius: 32px;
  background-color: #FFD078;
width: 140px;
height: 48px;
left: 1067px;
top: 959px;
border:none;

}


.parent2 {
  width: 80%;
  height: 300px;
  border: 6px solid #c3c3c3;
  display: flex;
  margin-right: auto;
  margin-left: auto;
  padding-top: 50px;
  padding-bottom: 50px;
}

.child2 {
   flex-grow: 1;
   vertical-align: middle;
  
}

#third{
  border-radius: 16px;
}

.child3 {
  flex-grow: 1;
  
}

.parent3 {
  width: 80%;
  height: 300px;
  border: 6px solid #c3c3c3;
  display: flex;
  margin-right: auto;
  margin-left: auto;
  padding-top: 50px;
  padding-bottom: 50px;
}

.child5 {
   flex-grow: 1;
   vertical-align: middle;
  
}

#fourth {
  border-radius: 16px;
 }

.child6 {
  flex-grow: 1;
  
}



