
body {
  margin: 0;
  font:16px Arial, Helvetica, sans-serif;
  font-size:13px;
}

.top {
  width:100%;
  background-color: #E5E5E5;
  }
  
.topnav {
  width:100%;
  height: 56;
  overflow: hidden;
  background-color: #E5E5E5;
  margin: 0 auto;
}
#logo {
  margin-right: 50px;
  margin-left: 50px;
}

.topnav a {
  float: left;
  display: block;
  color: grey;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.manu {
  display:flex;
  padding-top: 20px;
}

.topnav a:hover {
  
  color: orange;
}


.topnav .icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}


.main #ma {
  width:100%;
  height:auto;

}
#maintext {
  justify-content: space-between;
  text-align: center;
  padding-top: 50px;
}

.grandpa {
  width:100%;
  display: block;
  
}

.parent {
  width: 70%;
  height: 300px;
  display: flex;
  margin-right: auto;
  margin-left: auto;
  padding-top:50px;
  padding-bottom: 50px;
}

.child1 {
   flex-grow: 1;
   vertical-align: middle;
  
}
#second {
  border-radius: 16px;
}

.child2 {
  flex-grow: 1;
  padding-left:111px;
  
}



#cen {
  text-align: center;
}

#h2 {
  font-weight: lighter;
  margin-left: 20px;
}

#button {
  
  border-radius: 32px;
  background-color: #FFD078;
width: 140px;
height: 48px;
left: 1067px;
top: 959px;
border:none;

}


.parent2 {
  width: 70%;
  height: 300px;
  display: flex;
  margin-right: auto;
  margin-left: auto;
  padding-top: 50px;
  padding-bottom: 50px;
}

.child22 {
   flex-grow: 1;
   vertical-align: middle;
   padding-right: 111px;
  
}

#third{
  border-radius: 16px;
}

.child3 {
  flex-grow: 1;
  
}

.parent3 {
  width: 70%;
  height: 300px;
  display: flex;
  margin-right: auto;
  margin-left: auto;
  padding-top: 50px;
  padding-bottom: 50px;
}

.child5 {
   flex-grow: 1;
   vertical-align: middle;
   padding-left: 111px;
  
}

#fourth {
  border-radius: 16px;
 }

.child6 {
  flex-grow: 1;
  
}



.footer {
  width: 100%;
height: 254px;
left: 0px;
top: 2045px;
background: #F1F1F3;
display:flex;
}


.footer1 {
  flex-grow: 1;
  
}


.footer2 {
  flex-grow: 1;
}

.tme{
  list-style: none;
  float: left;
  color:#626777;
}

.hro {
  list-style: none;
  float: left;
  color:#626777;
  
}
.caa {
  list-style: none;
  float: left;
  color:#626777;
}
 
#pa {color:
  #626777;
  width: 159px;
height: 18px;
left: 374px;
top: 2138px;
font-size: 14px;
}

.logoimg {
  padding-left: 240px;
  padding-top: 25px;
}

.list {
  padding-left:200px;
}

.icons {
  justify-content: space-between;
}

.icons > i {
  color:white;
  background-color: #878B98;
  width:29px;
  height:29px;
  border-radius: 25px;
  text-align: center;
  
}

.footer2 {
  padding-top: 135px;
  padding-left: 40px;

}

